@import '../../App.scss';

.date-input::placeholder {
  color: $primary !important;
}

.table-div {
  height: 450px;
  width: 700px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:hover {
  overflow: visible;
}
