.login-dq-turkiye-icon {
  width: 210px;
}

.line {
  border: 0;
  background: linear-gradient(to right, #fff, grey, #fff);
  height: 2px;
}

.login-button {
  background: linear-gradient(to right, #6fa673, #8bd199);
  border-color: #98cb98;
  font-size: 15px;
}

